:root {
    --bs1: #141414;
    --bs2: #222222;
    --ws1: #f0f0f0;
    --ws2: #dadada;
  }

.header-div{
    height: 2.5rem;
    width: auto;
    border-bottom: 2px solid var(--bs2);
}

.header-title{
    margin-left: 1.5rem;
    margin-top: .8rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--ws2);
    background: -webkit-linear-gradient(#F09819  1%, #FF512F  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.search-bar-main-div{
    text-align: center;
}

.search-bar-div{
    margin-top: 2rem;
}

.search-bar-icon{
    position: relative;
    height: 1.2rem;
    top: 70px;
    left: -310px;
}

.search-bar{
    background-color: var(--bs2);
    height: 3rem;
    width: 35rem;
    color: var(--ws1);
    font-size: 1rem;
    padding-left: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: unset;
}

select{
    background-color: var(--bs2);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 20px;
    color: var(--ws2);
    border: unset;
    border-left: 2px solid var(--bs1);
    height: 3rem;
    font-size: 1rem;
}

.search-bar-button{
    margin: 30px;
    padding: 15px 45px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--ws1);
    border: unset;
    border-radius: 25px;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)
}

.search-bar-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.search-bar-button:active {
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to right, #a7331c 0%, #aa6c15  51%, #a7331c  100%);
    color: #fff;
    text-decoration: none;
}